<h5>ACCOMPAGNATEURS EXISTANTS</h5>
<table class="table table-striped table-bordered">
  <tr>
    <th>Id &nbsp; &nbsp; &nbsp;</th>
    <th>Nom</th>
    <th>Adresse courriel</th>
    <th>Date de création</th>
  </tr>
  <% @accompanyists.each do |accompanyist| %>
      <tr>
        <td><label class="checkbox"><%= accompanyist.id %></label></td>
        <td><%= accompanyist.first_name %> <%= accompanyist.last_name %></td>
        <td><%= accompanyist.email %></td>
        <td><%= accompanyist.created_at %></td>
      </tr>
  <% end %>
</table><hr>