<% content_for(:head) do %>
  <script type="text/javascript">
    fcms.currentCategory = [];

    $(document).ready(function() {
      // Hide the planification section
      $('#section-2').hide();

      // On category selection
      $('#input-planned-category').on('change', function() {
        var selectedOption = $(this).children("option:selected");
        var categoryId = selectedOption.attr('value');
        if (!categoryId || categoryId < 0)
          $('#section-2').hide('fast');
        else
          ajaxLoadCategory(categoryId);
      });

      // Enable select-all and select-none buttons
      $('#btn-select-all-down')     .click(function() { $('#table-inscriptions-selected tr.draggable').addClass('selected'); });
      $('#btn-select-none-down')    .click(function() { $('#table-inscriptions-selected tr.draggable').removeClass('selected'); });

      $('#btn-select-all-up')       .click(function() { $('#table-inscriptions-all      tr.draggable').addClass('selected'); });
      $('#btn-select-none-up')      .click(function() { $('#table-inscriptions-all      tr.draggable').removeClass('selected'); });

      // Enable arrow buttons
      $('#btn-move-all-down')       .click(function() { moveRows($('#table-inscriptions-selected tr.draggable'),          fcms.table_selected, fcms.table_all); });
      $('#btn-move-selected-down')  .click(function() { moveRows($('#table-inscriptions-selected tr.draggable.selected'), fcms.table_selected, fcms.table_all); });
      $('#btn-move-all-up')         .click(function() { moveRows($('#table-inscriptions-all      tr.draggable'),          fcms.table_all, fcms.table_selected); });
      $('#btn-move-selected-up')    .click(function() { moveRows($('#table-inscriptions-all      tr.draggable.selected'), fcms.table_all, fcms.table_selected); });

      // Enable save timeslot button
      $('#btn-save-timeslot').click(saveTimeslot);
    });

    function ajaxLoadCategory(category_id) {
      $.ajax({
        url: "<%=  url_for :controller => 'admin/planification' %>/" + category_id,
        success: function(data) {
          $('.panel:not(#panel-categories)').hide();
          $('#section-2').show('fast');

          loadCategory(data);
        },
        error: function() {
          alert("Les sous-catégories pour la classe " + category_id + " n'ont pas pu être chargées.")
        }
      })
    }

    function ajaxLoadTimeslot(timeslot_id) {
      $.ajax({
        url: '<%= admin_timeslots_path %>/' + timeslot_id,
        success: function(data) {
          loadTimeslot(data);
        },
        error: function() {
          alert("La sous-catégorie " + timeslot_id + " n'a pas pu être chargée.");
        }
      });
    }

    function ajaxSaveTimeslot(obj) {
      // Post to application
      $.ajax({
        url: '<%= admin_timeslots_path %>',
        type: "POST",
        contentType: 'application/json',
        dataType: 'json',
        data: JSON.stringify(obj),
        success: function(data) {
          clearRegistrations(obj.id);

          // Put all current registrations in this timeslot
          for (var r in obj.registrations)
            fcms.currentCategory.registrations[obj.registrations[r]].timeslot_id = data.id;

          if (obj.id < 0) {
            $('#input-timeslot-id').val(data.id);
            var index = fcms["table_timeslots"].fnAddData(getTimeslotObjectForRow(data));
            fcms["table_timeslots"].find('tr.selectable:eq(' + index[0] + ')').addClass('row_selected');
          }
          else {
            fcms["table_timeslots"].fnUpdate(getTimeslotObjectForRow(data), fcms.fnGetSelected(fcms["table_timeslots"])[0]);
          }

          fcms.showMessage("Les modifications ont été enregistrées.");
        },
        error: function() {
          fcms.showMessage("Les modifications n'ont pas pu être enregistrées.", "error");
        }
      })
    }

    function ajaxRemoveTimeslot(tsId, row) {
      // Post to application
      $.ajax({
        url: '<%= admin_timeslots_path %>/' + tsId,
        type: "DELETE",
        success: function() {
          fcms["table_timeslots"].fnDeleteRow(row);
          $('.panel:not(#panel-categories)').hide('fast');
          fcms.showMessage("La catégorie a été supprimée avec succès.");
        },
        error: function() {
          fcms.showMessage("La catégorie n'a pas pu être supprimée.", "error");
        }
      })
    }

  </script>

<% end %>


<h3>
  <i class="icon-calendar"></i> Planifier le concours
  <span style="float: right;">
    <a href="<%=  admin_planif_excel_path %>" class="btn btn-primary" >Télécharger les inscriptions au format Excel</a>
  </span>
</h3>
<div class="form-inline" id="section-1">
  <label for="input-planned-category">Sélectionner la classe à planifier: </label>&nbsp;&nbsp;
  <%= select_tag 'input-planned-category', options_from_collection_for_select(Category.all(:order => "name ASC"), 'id', 'name'), :include_blank => true %>
</div>

<div id="section-2">
  <hr>

  <div class="panel" id="panel-categories">
    <h4>Plages horaires</h4>
    <div id="div-timeslots"></div>
  </div>

  <div class="panel" id="panel-selected">
    <hr>

    <div id="timeslot-buttons-top">
      <button class="btn btn-success btn-small input-large" id="btn-save-timeslot">Enregistrer les modifications</button><br />
    </div>
    <h4>Détails de la plage horaire</h4>

    <div class="control-group">
      <label class="control-label"><b>Identifiant</b></label>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="iconic-hash"></i></span>
          <input class="input-small" id="input-timeslot-id" type="text" disabled="true">
        </div>
        <br />
      </div>
    </div>

    <div class="control-group">
      <label class="control-label" for="input-timeslot-name"><b>Nom de la plage horaire</b></label>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-font"></i></span>
          <input class="input-xlarge" id="input-timeslot-name" type="text" placeholder="Nom de la plage horaire">
        </div>
        <br />
      </div>
    </div>

    <h4>Inscriptions dans cette plage horaire</h4>
    <div class="div-inscriptions" id="div-inscriptions-selected"></div>

  </div>

  <div class="panel" id="panel-controls">
    <div class="sub-controls" id="sub-controls-down">
      <div class="sub-controls-left">
        <button class="btn btn-mini" id="btn-select-all-down">Sélectionner tout</button>&nbsp;<button class="btn btn-mini" id="btn-select-none-down">Désélectionner tout</button>
      </div>
      <div class="sub-controls-right">
        <button class="btn btn-mini" id="btn-move-all-down"><i class="icon-arrow-down"></i></button>&nbsp;<button class="btn btn-mini" id="btn-move-selected-down"><i class="icon-chevron-down"></i></button>
      </div>
      <div class="clear"></div>
    </div>
    <div class="sub-controls" id="sub-controls-up">
      <div class="sub-controls-left">
        <button class="btn btn-mini" id="btn-move-selected-up"><i class="icon-chevron-up"></i></button>&nbsp;<button class="btn btn-mini" id="btn-move-all-up"><i class="icon-arrow-up"></i></button>
      </div>
      <div class="sub-controls-right">
        <button class="btn btn-mini" id="btn-select-all-up">Sélectionner tout</button>&nbsp;<button class="btn btn-mini" id="btn-select-none-up">Désélectionner tout</button>
      </div>
      <div class="clear"></div>
    </div>
  </div>

  <div class="panel" id="panel-all">
    <h4>Inscriptions non-planifiées pour la classe <strong>Récital</strong></h4>
    <div class="div-inscriptions" id="div-inscriptions-all"></div>

  </div>

</div>