<h3> Courriel et mot de passe</h3>

<%= simple_form_for(resource, :url => users_path, :method => :put ) do |f| %>
  <%= devise_error_messages! %>

  <div class="input-prepend">
    <span class="add-on"><i class="icon-envelope"></i></span>
    <%= f.email_field :email, :class => 'input-xlarge', :autofocus => true, :placeholder => "Courriel" %>
  </div>
  <br />

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>En attente de la confirmation du courriel: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="input-prepend">
    <span class="add-on"><i class="icon-lock"></i></span>
    <%= f.password_field :password, :'data-toggle' => 'tooltip', :'data-animation' => true,  :'data-original-title' => "Laissez vide si vous ne voulez pas le changer", :class => 'input-xlarge', :autocomplete => 'off', :placeholder => "Nouveau mot de passe" %>
  </div>
 <br />

  <div class="input-prepend">
    <span class="add-on"><i class="icon-lock"></i></span>
    <%= f.password_field :password_confirmation, :'data-toggle' => 'tooltip', :'data-animation' => true,  :'data-original-title' => "Laissez vide si vous ne voulez pas le changer", :class => 'input-xlarge', :autocomplete => 'off', :placeholder => "Confirmation du nouveau mot de passe" %>
  </div>
  <br />

  <div class="input-prepend">
    <span class="add-on"><i class="icon-lock"></i></span>
  <%= f.password_field :current_password, :'data-toggle' => 'tooltip', :'data-animation' => true,  :'data-original-title' => "Vous devez écrire votre ancien mot de passe pour confirmer le changement", :class => 'input-xlarge', :autocomplete => 'off', :placeholder => "Ancien mot de passe" %><br />
  </div>
  <br />

  <div class="form-actions">
    <%= f.submit "Enregistrer", :class => 'btn btn-primary' %>
  </div>
<% end %>

<script>
    $(document).ready(function(){
        $('#user_password').tooltip();
        $('#user_password_confirmation').tooltip();
        $('#user_current_password').tooltip();
    });
</script>

<!--<h3>Supprimer mon compte</h3> -->

<!--<p><%= button_to "Supprimer mon compte", '/users', :class => 'btn btn-primary', :data => { :confirm => "Êtes-vous sur?" }, :method => :delete %></p> -->

<!--<%= link_to "Retour à la page précédente", :back %> -->

