<div class="gradient"></div>

<div class="devise-page">
  <div class="devise-left">
  </div>
  <div class="devise-right">
    <h2>Enregistrement</h2>

    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <%= f.text_field :first_name, :autofocus => true, :placeholder => 'Prénom', :class => 'input-xlarge' %>
        <%= f.text_field :last_name, :placeholder => 'Nom', :class => 'input-xlarge' %>
        <%= f.text_field :birthday, :placeholder => 'Date de naissance', :class => 'input-xlarge'%>
        <%= f.email_field :email, :placeholder => 'Courriel', :class => 'input-xlarge' %>
        <%= f.password_field :password, :placeholder => 'Mot de passe', :class => 'input-xlarge' %>
        <%= f.password_field :password_confirmation, :placeholder => 'Confirmez votre mot de passe', :class => 'input-xlarge'  %>
        <br />
        <%= f.submit "S'enregistrer", :class => 'btn btn-primary' %>

    <% end %>

    <%= render "devise/shared/links" %>
  </div>
</div>