<h5>Professeurs existants</h5>
<table class="table table-bordered" id="tableTeachers">
  <thead><tr>
    <th>#</th>
    <th>Nom</th>
    <th>Adresse courriel</th>
    <th>Date de création</th>
  </tr></thead>
  <tbody>
  <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.id %></label></td>
        <td><%= teacher.first_name %> <%= teacher.last_name %></td>
        <td><%= teacher.email %></td>
        <td><%= teacher.created_at.strftime("%d/%m/%Y") %></td>
      </tr>
  <% end %>
  </tbody>
</table><hr>