<h5>Accompagnateurs existants</h5>
<table class="table table-bordered" id="tableAccompanyists">
  <thead><tr>
    <th>Id</th>
    <th>Nom</th>
    <th>Adresse courriel</th>
    <th>Date de création</th>
  </tr></thead>
  <tbody>
  <% @accompanists.each do |accompanist| %>
      <tr>
        <td><%= accompanist.id %></label></td>
        <td><%= accompanist.first_name %> <%= accompanist.last_name %></td>
        <td><%= accompanist.email %></td>
        <td><%= accompanist.created_at %></td>
      </tr>
  <% end %>
  </tbody>
</table><hr>