<h1>Page de profil</h1>

  <div class="profile-page">
    <%= simple_form_for(@user) do |f| %>


        <div class="col">
            <div class="profile-left">
              <%= f.label :first_name, "Prénom" %>
              <%= f.text_field :first_name, :class => 'input-xlarge' %>

              <%= f.label :last_name, "Nom de famille" %>
              <%= f.text_field :last_name, :class => 'input-xlarge' %>

              <%= f.label :gender, "Masculin" %>
              <%= f.radio_button :gender, true, :id => "Masculin",  :checked => @user.gender, :class => 'optionsRadios'%>
              <%= f.label :gender, "Féminin" %>
              <%= f.radio_button :gender, false, :id => "Féminin", :checked => !@user.gender, :class => 'optionsRadios'%>

              <%= f.label :birthday, "Date de naissance" %>
              <%= f.text_field :birthday, :class => 'input-xlarge' %>

              <%= f.label :email, "Courriel" %>
              <%= f.text_field :email, :class => 'input-xlarge' %>

              <%= f.label :password, "Mot de passe" %>
              <%= f.password_field :password, :class => 'input-xlarge' %>

              <%= f.label :password_confirmation, "Confirmation du mot de passe" %>
              <%= f.password_field :password_confirmation, :class => 'input-xlarge' %>
            </div>
        </div>

        <div class="col">
            <div class="profile-right">
              <%= f.fields_for :contactinfo do |c| %>
                  <%= c.label :telephone, "Téléphone" %>
                  <%= c.telephone_field :telephone, :class => 'input-xlarge' %>

                  <%= c.label :address, "Adresse 1" %>
                  <%= c.text_field :address, :class => 'input-xlarge' %>

                  <%= c.label :address2, "Adresse 2" %>
                  <%= c.text_field :address2, :class => 'input-xlarge' %>

                  <%= c.label :postal_code, "Code postal" %>
                  <%= c.text_field :postal_code, :class => 'input-xlarge' %>

                  <%= c.association :city %>

                  <%= c.label :province, "Province" %>
                  <%= c.text_field :province, :class => 'input-xlarge' %>
              <% end %>
            </div>
        </div>

        </br>

        <%= f.submit "Sauvegarder", class: "btn btn-large btn-primary" %>
    <% end %>
  </div>
