<h3>Page de profil</h3>

<%= simple_form_for(@user) do |f| %>

    <div class="input-prepend">
      <span class="add-on"><i class="icon-user"></i></span>
        <%= f.text_field :first_name, :class => 'input-xlarge', :placeholder => "Prénom" %>
    </div>
    <br />

    <div class="input-prepend">
      <span class="add-on"><i class="icon-user"></i></span>
        <%= f.text_field :last_name, :class => 'input-xlarge', :placeholder => "Nom de famille" %>
    </div>
    <br />

    <div class="input-prepend">
      <span class="add-on"><i class="icon-user"></i></span>
        <%= f.select :gender, options_for_select([['Masculin', true], ['Féminin', false]]), {:prompt => 'Choisissez votre sexe', :selected => @user.gender}, {:class => 'input-xlarge'}%>
    </div>
    <br />

    <div class="input-prepend">
      <span class="add-on"><i class="icon-gift"></i></span>
        <%= f.text_field :birthday, :class => 'input-xlarge', :placeholder => "Date de naissance", :'data-mask' => '9999-99-99' %>
    </div>
    <br />

    <%= f.fields_for :contactinfo do |c| %>
        <div class="input-prepend">
          <span class="add-on"><i class="icon-phone"></i></span>
            <%= c.telephone_field :telephone, :class => 'input-xlarge', :placeholder => "Téléphone", :'data-mask' => '999-999-9999' %>
        </div>
        <br />

        <div class="input-prepend">
          <span class="add-on"><i class="icon-home"></i></span>
            <%= c.text_field :address, :class => 'input-xlarge', :placeholder => "Adresse ligne 1" %>
        </div>
        <br />

        <div class="input-prepend">
          <span class="add-on"><i class="icon-home"></i></span>
            <%= c.text_field :address2, :class => 'input-xlarge', :placeholder => "Adresse ligne 2" %>
        </div>
        <br />

        <div class="input-prepend">
          <span class="add-on"><i class="icon-home"></i></span>
            <%= c.text_field :postal_code, :class => 'input-xlarge', :placeholder =>  "Code postal" %>
        </div>
        <br />

        <div class="input-prepend">
          <span class="add-on"><i class="icon-building"></i></span>
            <%= c.association :city, :label => false, :input_html => { :class => 'input-xlarge'}, :wrapper => false %>
        </div>
        <br />

        <div class="input-prepend">
          <span class="add-on"><i class="icon-globe"></i></span>
            <%= c.text_field :province, :class => 'input-xlarge', :placeholder => "Province" %>
        </div>
        <br />
    <% end %>

    <div class="form-actions">
        <%= f.submit "Enregistrer", class: "btn btn-primary" %>
    </div>
<% end %>
