<%= simple_nested_form_for @registration do |f| %>
    <% if current_user.roles.include? Role.find_by_name('administrateur') %>
        <h3>Utilisateur</h3>
        <div class="input-prepend">
          <span class="add-on"><i class="icon-user"></i></span>
          <%= f.text_field :user_owner_id, :placeholder => 'Utilisateur', :class => 'input-xlarge', 'id' => 'input-users' %>
        </div>
        <br />
    <% end %>

    <h3>Professeur</h3>
    <%= f.association :teacher, collection: User.with_role('Professeur').where('confirmed=true') , prompt: "Choisissez un professeur", label_method: lambda { |usr| usr.first_name + " " + usr.last_name + ", (" + usr.email + ")"},label: false %>

    <h3>Informations personnelles</h3>
    <%= f.label :school, 'Institution scolaire' %>
    <%= f.text_field :school, :class => 'input-schools' %>

    <h3>Programme musical</h3>
    <%= f.association :category, prompt: "Choisissez une catégorie", label: false, :input_html => {:onchange => "changeCategory(this.value)"} %>

    <%= f.association :instruments,as: :collection_select, prompt: "Choisissez un instrument", label: false, :id => 'instrument_id' %>

    <h3>Pièces performées</h3>

    <div id='performances-container'>
      <table id='performances' class='table'>
        <thead><tr>
          <th>Titre de l'oeuvre</th>
          <th>Compositeur</th>
          <th>Durée (minutes)</th>
          <th></th>
        </tr></thead>
        <tbody>
        <%= f.fields_for :performances, :wrapper => false %>
        <tr>
          <td></td>
          <td></td>
          <td colspan="1">Durée totale:</td>
          <td><label id='registration_duration'>0</label><%# f.text_field :duration, :class => 'input-small', disabled: true, :placeholder => 0 %></td>
        </tr>
        </tbody>
      </table>
      <%= f.link_to_add " Ajouter une performance", :performances, :id => 'btn-add-performance' , :data => { :target => '#performances' }, :class => 'icon-plus btn' %>
    </div>
    <br/>

    <div id="AutresParticipants">
      <h3>Autres participants</h3>
      <div id='users-container'>
        <table id='users' class='table'>
          <thead><tr>
            <th>Courriel</th>
            <th>Instrument</th>
            <th></th>
          </tr></thead>
          <tbody>
          <%= f.fields_for :users, :wrapper => false %>
          <tr>
            <td>Nombre de participants</td>
            <td><label id='totUsers'>0</label></td>
            <td></td>
          </tr>
          </tbody>
        </table>
        <%= f.link_to_add " Ajouter une personne", :users, :id => 'btn-add-users' , :data => { :target => '#users' }, :class => 'icon-plus btn' %>
      </div><br/>
    </div>

    <div class="form-actions">
      <%= f.button :submit, 'Envoyer l\'inscription' , :class => 'btn btn-primary' %>
      <%= button_tag "Recommencer", type: :reset %>
    </div>
<% end %>