<h1>Inscription au festival</h1><hr>

<%= simple_nested_form_for @registration do |f| %>
    <h3>Professeur</h3>
    <%= f.association :teacher, collection: User.with_role('professeur').pluck(:email) , prompt: "Choisissez un professeur", label: 'Courriel du professeur' %>
    <h3>Informations personnelles</h3>
    <%= f.label :school, 'Institution scolaire' %>
    <%= f.text_field :school, 'id' => 'input-schools' %>

    <%# f.association :school, prompt: "Choisissez une école", label: 'Institution scolaire' %>
    <%= f.association :instruments, prompt: "Choisissez un instrument", label: 'Instrument', as: :collection_select %>
    <h3>Programme musical</h3>
    <%= f.association :category, prompt: "Choisissez une classe", label: 'Classe', :input_html => {:onchange => "changeCategory(this.value)"} %>
    <div id='performances-container'>
        <table id='performances' class='table'>
            <thead><tr>
                <th>Compositeur</th>
                <th>Oeuvre</th>
                <th>Durée (minutes)</th>
                <th></th>
            </tr></thead>
            <tbody>
                <%= f.fields_for :performances, :wrapper => false %>
                <tr><td colspan="2">Durée totale</td><td><%= f.text_field :duration, :class => 'input-small', disabled: true, :placeholder => 0 %></td><td></td></tr>
            </tbody>
        </table>
      <%= f.link_to_add " Ajouter une performance", :performances, :id => 'btn-add-performance' , :data => { :target => '#performances' }, :class => 'icon-plus btn' %>
    </div><br>

    <h3>Autres participants</h3>
    <div id='users-container'>
      <table id='users' class='table'>
        <thead><tr>
          <th>Courriel</th>
          <th>Instrument</th>
          <th></th>
        </tr></thead>
        <tbody>
            <%= f.fields_for :users, :wrapper => false %>
            <tr><td>Nombre de participants</td><td><label id='totUsers'>0</label></td><td></td></tr>
        </tbody>
      </table>
      <%= f.link_to_add " Ajouter une personne", :users, :id => 'btn-add-users' , :data => { :target => '#users' }, :class => 'icon-plus btn' %>
    </div><br>

    <div class="form-actions">
        <%= f.button :submit, 'Envoyer l\'inscription' , :class => 'btn btn-primary' %>
        <%= button_tag "Recommencer", type: :reset %>
    </div>
<% end %>