<% if notice -%>
    <p class="alert alert-success"><%= notice %><a class="close" data-dismiss="alert" href="#">&times;</a></p>
<% end -%>
<% if alert -%>
    <p class="alert alert-danger"><%= alert %><a class="close" data-dismiss="alert" href="#">&times;</a></p>
<% end -%>

<table class="table table-bordered">
  <thead>
      <tr>
        <th>Catégorie</th>
        <th>Instrument</th>
        <th>Participants</th>
        <th>Pièces</th>
        <th>Compositeurs</th>
        <th>Professeur</th>
        <th>Durée</th>
        <th>Année de l'édition</th>
        <th></th>
      </tr>
  </thead>
  <tbody>
      <% @registrations.each do |reg| %>
        <tr>
          <td><%= reg.category.name %></td>
           <td>
            <% reg.registrations_users.each do |reg_user| %>
                <%= reg_user.instrument.name %> <br />
            <% end %>
          </td>
          <td>
            <% reg.registrations_users.each do |reg_user| %>
                <% if reg_user.user.id == reg.owner.id %>
                    <b>
                <% end %>

                <%= reg_user.user.first_name %> <%= reg_user.user.last_name %>

                <% if reg_user.user.id == reg.owner.id %>
                    </b>
                <% end %>
                <br />
          <% end %>
          </td>
          <td>
            <% reg.performances.each do |perf| %>
                <%= perf.piece.title %> <br />
            <% end %>
          </td>
          <td>
            <% reg.performances.each do |perf| %>
                <%= perf.piece.composer.name %> <br />
            <% end %>
          </td>
          <td><%= reg.teacher.first_name %> <%= reg.teacher.last_name %></td>
          <td><%= reg.duration %> min. </td>
          <td><%= reg.edition.year %> </td>
          <td>
            <% if reg.user_owner_id == current_user.id %>
                <a class="btn reg_edit" href="/registrations/<%= reg.id %>/edit"><i class="icon-edit"></i> </a>
                <a class="btn reg_cancel" href="/registrations/<%= reg.id %>/cancel"><i class="icon-remove"></i> </a>
            <% end %>
          </td>
        </tr>
      <% end %>
  </tbody>
</table>