<tr class="fields">
  <%= f.fields_for :piece, :wrapper => false do |piece| %>
    <%= piece.fields_for :composer, :wrapper => false do |composer| %>
          <td><%= composer.input :name, :label => false %></td>
      <% end %>
      <td><%= piece.input :title, :label => false %></td>
    <% end %>
    <td><%= text_field_tag :duration, nil, :class => 'duration input-small', 'data-mask'=>"99.9", :onchange => "calculateTotDuration()" %></td>
    <td><%= f.link_to_remove 'Supprimer', :class => 'btn' %></td>
</tr>