<%= f.simple_fields_for :contactinfo do |c| %>
    <div class="control-group">
      <label class="control-label"><b>Téléphone</b></label>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="iconic-hash"></i></span>
          <%= c.telephone_field :telephone, :class => 'input-xlarge', :placeholder => "Téléphone", :'data-mask' => '999-999-9999' %>
        </div>
        <br />
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"><b>Adresse ligne 1</b></label>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-font"></i></span>
          <%= c.text_field :address, :class => 'input-xlarge', :placeholder => "Adresse ligne 1" %>
        </div>
        <br />
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"><b>Adresse ligne 2</b></label>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-font"></i></span>
          <%= c.text_field :address2, :class => 'input-xlarge', :placeholder => "Adresse ligne 2" %>
        </div>
        <br />
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"><b>Code postal</b></label>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-home"></i></span>
          <%= c.text_field :postal_code, :class => 'input-xlarge', :placeholder =>  "Code postal" %>
        </div>
        <br />
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"><b>Choisissez une ville</b></label>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-building"></i></span>
          <%= c.association :city, :label => false, :prompt => 'Choisissez une ville', :input_html => { :class => 'input-xlarge'}, :wrapper => false %>
        </div>
        <br />
      </div>
    </div>

    <div class="control-group">
      <label class="control-label"><b>Province</b></label>
      <div class="controls">
        <div class="input-prepend">
          <span class="add-on"><i class="icon-globe"></i></span>
          <%= c.text_field :province, :class => 'input-xlarge', :placeholder => "Province" %>
        </div>
        <br />
      </div>
    </div>
<% end %>