
<%= "This user can do stuff on a user"if can? :dostuff, User%>      <br/>
<%= "This user cannot do stuff on a user"if cannot? :dostuff, User%>      <br/>
<%= "This user can do stuff on a anything"if can? :dostuff, :all%>      <br/>
<%= "This user cannot do stuff on a anything"if cannot? :dostuff, :all%>      <br/>
<%= "This user can read on a user"if can? :read, User%>      <br/>
<%= "This user can manage on a user"if can? :manage, User%>      <br/>
<%= "This user cannot manage on a user"if cannot? :manage, User%>      <br/>



<h1>List of users and their roles</h3>

  <% User.all.each do |usr| %>
      <h3><%= usr.first_name %></h3>
      <% Role.all.each do |role| %>
          <%= check_box_tag "role-#{usr.email}", role.name, usr.has_role?(role.name) %>
          <%= label_tag "#{role.name}"%>
      <% end %>
  <% end %>
