<h4>Ajouter ou modifier une édition</h4>
<div class="col">
    <%= simple_form_for [:admin, @edition] do |f| %>

      <div class="control-group">
        <label class="control-label"><h5>Identifiant</h5></label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="iconic-hash"></i></span>
            <%= f.text_field :id, :class => 'input-small', :disabled => true %>
          </div>
          <br />
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><h5>Année de l'édition</h5></label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="iconic-hash"></i></span>
            <%= f.text_field :year, :class => 'input-xlarge' %>
          </div>
          <br />
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><h5>Date de début de l'évènement</h5></label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-calendar"></i></span>
            <%= f.text_field :start_date, :class => 'input-xlarge', :'data-mask' => '9999-99-99' %><br />
          </div>
          <br />
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><h5>Date de fin de l'évènement</h5></label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-calendar"></i></span>
            <%= f.text_field :end_date, :class => 'input-xlarge', :'data-mask' => '9999-99-99' %><br />
          </div>
          <br />
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><h5>Date limite d'inscription</h5></label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-calendar"></i></span>
            <%= f.text_field :limit_date, :class => 'input-xlarge', :'data-mask' => '9999-99-99' %><br />
          </div>
          <br />
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><h5>Date limite de modification d'inscription</h5></label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-calendar"></i></span>
            <%= f.text_field :edit_limit_date, :class => 'input-xlarge', :'data-mask' => '9999-99-99' %><br />
          </div>
          <br />
        </div>
      </div>

        <div class="form-actions">
            <%= f.button :submit, 'Enregistrer' , :class => 'btn btn-primary' %>
        </div>
    <% end %>
</div>