<h5>Ajouter ou modifier une édition</h5>
<div class="col">
    <%= simple_form_for [:admin, @edition] do |f| %>

        <div class="input-prepend">
            <span class="add-on"><i class="iconic-hash"></i></span>
            <%= f.text_field :id, :class => 'input-small', :disabled => true%>
        </div>
        <br />

        <div class="input-prepend">
            <span class="add-on"><i class="iconic-hash"></i></span>
            <%= f.text_field :year, :autofocus => true, :placeholder => 'Année de l\'édition', :class => 'input-xlarge' %>
        </div>
        <br />

        <div class="input-prepend">
            <span class="add-on"><i class="icon-calendar"></i></span>
            <%= f.text_field :start_date, :placeholder => 'Date de début', :class => 'input-medium', :'data-mask' => '9999-99-99' %><br />
        </div>

        <div class="input-prepend">
            <span class="add-on"><i class="icon-calendar"></i></span>
          <%= f.text_field :end_date, :placeholder => 'Date de fin', :class => 'input-medium', :'data-mask' => '9999-99-99' %><br />
        </div>
        <br />

        <div class="input-prepend">
            <span class="add-on"><i class="icon-calendar"></i></span>
            <%= f.text_field :limit_date, :placeholder => 'Date limite d\'inscription', :class => 'input-medium', :'data-mask' => '9999-99-99' %><br />
        </div>
      <div class="form-actions">
        <%= f.button :submit, 'Enregistrer' , :class => 'btn btn-primary' %>
      </div>
    <% end %>
</div>