<h4>Ajouter ou modifier une institution scolaire</h4>
<div class="col">
    <%= simple_form_for [:admin, @school], :validate=>true do |f| %>
      <div class="control-group">
        <label class="control-label"><h5>Identifiant</h5></label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="iconic-hash"></i></span>
            <%= f.text_field :id, :class => 'input-small', :disabled => true%>
          </div>
          <br />
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><h5>Nom de l'institution scolaire</h5></label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-font"></i></span>
            <%= f.text_field :name, :class => 'input-xlarge' %>
          </div>
          <br />
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><h5>Type d'école</h5></label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-tag"></i></span>
            <%= f.association :schooltype, :label => false, :input_html => { :class => 'input-xlarge'}, :wrapper => false %>
          </div>
          <br />
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><h5>Commission scolaire</h5></label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-bell"></i></span>
            <%= f.association :schoolboard, :label => false, :input_html => { :class => 'input-xlarge'}, :wrapper => false %>
          </div>
          <br />
        </div>
      </div>

      <%= render :partial => 'shared/contactinfos', :locals => {:f => f} %>

      <div class="form-actions">
        <%= f.button :submit, 'Enregistrer' , :class => 'btn btn-primary' %>
      </div>
    <% end %>
</div>