<h5>Ajouter ou modifier une institution scolaire</h5>
<div class="col">
    <%= simple_form_for [:admin, @school] do |f| %>
      <div class="control-group">
        <label class="control-label"><b>Identifiant</b></label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="iconic-hash"></i></span>
            <%= f.text_field :id, :class => 'input-small', :disabled => true%>
          </div>
          <br />
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><b>Nom de l'école</b></label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-font"></i></span>
            <%= f.text_field :name, :placeholder => 'Nom de l\'école', :class => 'input-xlarge' %>
          </div>
          <br />
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><b>Choisissez le type d'école</b></label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-tag"></i></span>
            <%= f.association :schooltype, :label => false, :prompt => 'Choisissez le type d\'école', :input_html => { :class => 'input-xlarge'}, :wrapper => false %>
          </div>
          <br />
        </div>
      </div>

      <div class="control-group">
        <label class="control-label"><b>Choisissez le type d'école</b></label>
        <div class="controls">
          <div class="input-prepend">
            <span class="add-on"><i class="icon-bell"></i></span>
            <%= f.association :schoolboard, :label => false, :prompt => 'Choisissez la comission scolaire', :input_html => { :class => 'input-xlarge'}, :wrapper => false %>
          </div>
          <br />
        </div>
      </div>
        <br />

      <%= render :partial => 'shared/contactinfos', :locals => {:f => f} %>

      <div class="form-actions">
        <%= f.button :submit, 'Enregistrer' , :class => 'btn btn-primary' %>
      </div>
    <% end %>
</div>