<h5>Institutions scolaires existantes</h5>
<table class="table table-bordered">
  <thead><tr>
    <th>Id</th>
    <th>Nom</th>
    <th>Comission scolaire</th>
    <th>Type d'école</th>
    <th>Date de création</th>
    <th>Dernière mise à jour</th>
  </tr></thead>
  <% @schools.each do |school| %>
      <tr>
        <td><%= school.id %></td>
        <td><%= school.name %></td>
        <td><%= school.schoolboard.name %></td>
        <td><%= school.schooltype.name %></td>
        <td><%= school.created_at %></td>
        <td><%= school.updated_at %></td>
      </tr>
  <% end %>
</table><hr>