<h5>Juges existants</h5>
<table class="table table-bordered" id="tableJuges">
  <thead><tr>
    <th>Id</th>
    <th>Nom</th>
    <th>Adresse courriel</th>
    <th>Date de création</th>
  </tr></thead>
  <tbody>
  <% @juges.each do |juge| %>
      <tr>
        <td><%= juge.id %></label></td>
        <td><%= juge.first_name %> <%= juge.last_name %></td>
        <td><%= juge.email %></td>
        <td><%= juge.created_at.strftime("%d/%m/%Y") %></td>
      </tr>
  <% end %>
  </tbody>
</table><hr>