<h5>Juges existants</h5>
<table class="table table-bordered" id="tableJuges">
  <thead><tr>
    <th>Id</th>
    <th>Nom</th>
    <th>Adresse courriel</th>
    <th>Date de création</th>
  </tr></thead>
  <tbody>
  <% @juges.each do |user| %>
      <tr>
        <td><%= user.id %></label></td>
        <td><%= user.first_name %> <%= user.last_name %></td>
        <td><%= user.email %></td>
        <td><%= user.created_at %></td>
      </tr>
  <% end %>
  </tbody>
</table><hr>