<h3><i class="iconic-award-stroke"></i> Gestion des juges</h3>

<% if notice -%>
    <p class="alert alert-success"><%= notice %><a class="close" data-dismiss="alert" href="#">&times;</a></p>
<% end -%>
<% if alert -%>
    <p class="alert alert-danger"><%= alert %><a class="close" data-dismiss="alert" href="#">&times;</a></p>
<% end -%>

<% if @ujuges.size != 0 %>
    <%= render :partial => '/admin/juges/unconfirmed_grid' %>
<% end %>

<%= render :partial => '/admin/juges/grid' %>
<%= render :partial => '/admin/juges/form' %>