<h5>AJOUTER OU MODIFIER UN JUGE</h5>
<div class="col">
  <%= simple_form_for @juge,
      :url => url_for(:action => 'create', :controller => 'juges'),
      :method => 'post' do |f| %>

      <div class="input-prepend">
        <span class="add-on"><i class="icon-user"></i></span>
        <%= f.text_field :first_name, :autofocus => true, :placeholder => 'Prénom', :class => 'input-medium' %>
      </div>
      <div class="input-prepend">
        <%= f.text_field :last_name, :placeholder => 'Nom', :class => 'input-medium' %>
      </div>
      <br />

      <div class="input-prepend">
        <span class="add-on"><i class="icon-calendar"></i></span>
        <%= f.text_field :birthday, :placeholder => 'Date de naissance', :class => 'input-medium', :'data-mask' => '9999-99-99' %><br />
      </div>
      <br />

      <div class="input-prepend">
        <span class="add-on"><i class="icon-envelope"></i></span>
        <%= f.text_field :email, :placeholder => 'Adresse courriel', :class => 'input-xlarge' %>
      </div>
      <br />

      <%= f.fields_for :contactinfo do |c| %>
          <div class="input-prepend">
            <span class="add-on"><i class="iconic-iphone"></i></span>
            <%= c.telephone_field :telephone, :placeholder => 'Numéro de téléphone', :class => 'input-xlarge' %>
          </div>
          <br />

          <div class="input-prepend">
            <span class="add-on"><i class="icon-font"></i></span>
            <%= c.text_field :address, :placeholder => 'Adresse ligne 1', :class => 'input-xlarge' %>
          </div>
          <br />

          <div class="input-prepend">
            <span class="add-on"><i class="icon-font"></i></span>
            <%= c.text_field :address2, :placeholder => 'Ligne 1', :class => 'input-xlarge' %>
          </div>
          <br />

          <div class="input-prepend">
            <span class="add-on"><i class="iconic-home"></i></span>
            <%= c.text_field :postal_code, :placeholder => 'Code postal', :class => 'input-xlarge' %>
          </div>
          <br />

          <%= c.fields_for :city do |v| %>
              <div class="input-prepend">
                <span class="add-on"><i class="iconic-home"></i></span>
                <%= v.text_field :name, :placeholder => 'Ville', :class => 'input-xlarge', 'id' => 'input-cities' %>
              </div>
              <br />
          <% end %>

          <div class="input-prepend">
            <span class="add-on"><i class="icon-globe"></i></span>
            <%= c.text_field :province, :placeholder => 'Province', :class => 'input-xlarge' %>
          </div>
      <% end %>

      <% if @juge.new_record? %>
          <div class="input-prepend">
            <span class="add-on"><i class="icon-font"></i></span>
            <%= f.text_field :password, :placeholder => 'Mot de passe', :class => 'input-xlarge' %>
          </div>
      <% end %>

      <div class="form-actions">
        <%= f.submit @juge.new_record? ? "Ajouter un nouveau juge" : "Enregistrer les modifications", :class => 'btn btn-primary' %>
        <%= submit_tag "Vider le formulaire", :class => 'inputsubmit btn', :type => 'reset'%>
      </div>
  <% end %>
</div>