<h5>JUGES EXISTANTS</h5>
<table class="table table-striped table-bordered">
  <tr>
    <th>Id &nbsp; &nbsp; &nbsp;</th>
    <th>Nom</th>
    <th>Adresse courriel</th>
    <th>Date de création</th>
  </tr>
  <% @juges.each do |juge| %>
      <tr>
        <td><label class="checkbox"><%= juge.id %></label></td>
        <td><%= juge.first_name %> <%= juge.last_name %></td>
        <td><%= juge.email %></td>
        <td><%= juge.created_at %></td>
      </tr>
  <% end %>
</table><hr>