<h5>LOCAUX EXISTANTS</h5>
<table class="table table-striped table-bordered">
  <tr>
    <th>Id &nbsp; &nbsp; &nbsp;</th>
    <th>Capacié</th>
    <th>Nom</th>
    <th>Location</th>
    <th>Description</th>
  </tr>
  <% @rooms.each do |room| %>
      <tr>
        <td><label class="checkbox"><%= room.id %></label></td>
        <td><%= room.capacity %></td>
        <td><%= room.name %></td>
        <td><%= room.location %></td>
        <td><%= room.description %></td>
      </tr>
  <% end %>
</table><hr>