<h3><i class="icon-edit"></i> Inscriptions au festival</h3>
<p>Cette page permet de gérer les inscriptions soumises à l'application du Festival-Concours de Musique de Sherbrooke.<p>
<p>Pour obtenir la liste complète des inscriptions à l'édition <i>courante</i>, visiter la page <%= link_to 'Planifier le concours', '/admin/planification' %>.</p>
<p></p>
<hr />
<h5>Inscriptions existantes au festival</h5>
    <%= render :partial => '/admin/registrations/grid' %>
    <div id="formModal" class="modal hide fade">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h3>Ajouter ou modifier une inscription au festival</h3>
      </div>
      <div class="modal-body">
        <%= simple_nested_form_for [:admin, @registration], :validate => true do |f| %>
            <h5>Choisir un propriétaire</h5>
            <input type="hidden" class="select optional input-large" id="registration_user_owner_id" name="registration[user_owner_id]" data-placeholder="Choisir un participant"/>
        <%= render :partial => '/registrations/form', :locals => {:f => f} %>
        <%= f.hidden_field :id, :value => @registration.id, :disabled => true %>
      </div>
      <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal">Fermer</button>
          <%= f.button :submit, 'Enregistrer', :id =>'formSave' , :class => 'btn btn-primary' %>
      </div>
<% end %>
</div>