<h4>Ajouter ou modifier un utilisateur</h4>

<%= simple_form_for [:admin, @user],:validate=>true do |f| %>

    <div class="input-prepend">
      <label class="control-label"><h5>Identifiant</h5></label>
      <span class="add-on"><i class="iconic-hash"></i></span>
      <%= f.text_field :id, :class => 'input-small', :readonly => true%>
    </div>
    <br />

    <div class="input-prepend">
      <label class="control-label"><h5>Prénom</h5></label>
      <span class="add-on"><i class="icon-user"></i></span>
      <%= f.text_field :first_name, :class => 'input-xlarge' %>
    </div>
    <br />
    <div class="input-prepend">
      <label class="control-label"><h5>Nom de famille</h5></label>
      <span class="add-on"><i class="icon-user"></i></span>
      <%= f.text_field :last_name, :class => 'input-xlarge' %>
    </div>
    <br />

    <div class="input-prepend">
      <label class="control-label"><h5>Sexe</h5></label>
      <span class="add-on"><i class="icon-user"></i></span>
      <%= f.select :gender, options_for_select([['Masculin', true], ['Féminin', false]]), {:class => 'input-xlarge select'}%>
    </div>
    <br />


    <div class="input-prepend">
      <label class="control-label"><h5>Date de fête</h5></label>
      <span class="add-on"><i class="icon-calendar"></i></span>
      <%= f.text_field :birthday, :class => 'input-medium', :'data-mask' => '9999-99-99' %><br />
    </div>
    <br />

    <%= render :partial => 'shared/contactinfos', :locals => {:f => f} %>
    </br>

    <div class="form-actions">
        <%= f.submit "Enregistrer", class: "btn btn-primary" %>
    </div>
<% end %>
