<h3><i class="icon-envelope"></i> Inviter un utilisateur</h3>
<%= simple_form_for @user,
    :url => url_for(:action => 'create', :controller => 'invitations'),
    :method => 'post' do |f| %>

    <h5>Informations personnelles</h5>

    <% if notice -%>
        <p class="alert alert-success"><%= notice %><a class="close" data-dismiss="alert" href="#">&times;</a></p>
    <% end -%>
    <% if alert -%>
        <p class="alert alert-danger"><%= alert %><a class="close" data-dismiss="alert" href="#">&times;</a></p>
    <% end -%>

    <div class="input-prepend">
      <span class="add-on"><i class="icon-user"></i></span>
      <%= f.text_field :first_name, :autofocus => true, :placeholder => 'Prénom', :class => 'input-medium' %>
    </div>
    <div class="input-prepend">
      <%= f.text_field :last_name, :placeholder => 'Nom', :class => 'input-medium' %>
    </div>
    <br />

    <div class="input-prepend">
      <span class="add-on"><i class="icon-envelope"></i></span>
      <%= f.text_field :email, :placeholder => 'Adresse courriel', :class => 'input-xlarge' %>
    </div>

    <h5>Rôle de l'utilisateur</h5>

    <%= f.association :roles, label: false, as: :collection_select, selected: 'Participant' %>

    <div class="form-actions">
        <%= f.submit "Envoyer l'invitation", :class => 'btn btn-primary' %>
    </div>
<% end %>