<h3><i class="icon-envelope"></i> Inviter un utilisateur</h3>
<%= simple_form_for @user,
    :url => url_for(:action => 'create', :controller => 'invitations'),
    :method => 'post' do |f| %>

    <h5>Rôle de l'utilisateur</h5>
    <hr><br />

    <%= f.fields_for :role do |r| %>
        <div class="btn-group" data-toggle="buttons-radio">
            <% @roles.each do |role| %>
            <label class="checkbox inline">  <%= r.radio_button :role_id, role.id, :checked => @user.roles, :id => role.name, :class => 'optionsRadios'%><%= role.name.capitalize %></label>
            <% end %>
        </div>
    <% end %>
    <h5>Informations personnelles</h5>

    <div class="input-prepend">
      <span class="add-on"><i class="icon-user"></i></span>
      <%= f.text_field :first_name, :autofocus => true, :placeholder => 'Prénom', :class => 'input-medium' %>
    </div>
    <div class="input-prepend">
      <%= f.text_field :last_name, :placeholder => 'Nom', :class => 'input-medium' %>
    </div>
    <br />

    <div class="input-prepend">
      <span class="add-on"><i class="icon-envelope"></i></span>
      <%= f.text_field :email, :placeholder => 'Adresse courriel', :class => 'input-xlarge' %>
    </div>

    <div class="form-actions">
        <%= f.submit "Envoyer l'invitation", :class => 'btn btn-primary' %>
    </div>
<% end %>