<%= stylesheet_link_tag "header.css" %>
<div class="navbar">
    <div class="navbar-inner">
      <ul class="nav">
        <li><%= link_to "Accueil", '/' %></li>
        <li><%= link_to "Mon profil", '/users/profil' %></li>
        <li><%= link_to "Mon horaire", '/users/calendar' %></li>
        <li><%= link_to "Mes résultats", '/users/results' %></li>
        <li><%= link_to "Horaire détaillé", '/editions/calendar' %></li>
        <li><%= link_to "Page d'inscription", '/users/registration' %></li>
        <li><%= link_to "Se déconnecter", destroy_user_session_path, :method => :delete %></li>
      </ul>
    </div>
</div>