<!DOCTYPE html>
<html>
<head>
  <title>FCMS</title>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700" rel="stylesheet" type="text/css">
  <%= favicon_link_tag       image_path('favicon.ico') %>
  <%= stylesheet_link_tag    'application', :media => "all" %>
  <%= stylesheet_link_tag    params[:controller]%>
  <%= javascript_include_tag 'application' %>
  <%= javascript_include_tag params[:controller] %>
  <%= csrf_meta_tags %>

  <%= yield :head %>
</head>
<body>

  <% if user_signed_in? %>

    <div class="navbar navbar-static-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="http://www.fcmsherbrooke.com/" target="_new" title="Site du FCMS"></a>
          <%= render_navigation :expand_all => true, :renderer => :bootstrap %>
        </div>
      </div>
    </div>

    <div class="wrapper">

      <% if controller.controller_name == 'home' %>
        <div class="section section-page">
          <%= yield %>
        </div>

      <% else %>
        <div class="section section-submenu">
          <h4><%= active_navigation_item_name(:level => 1) %></h4>
          <%= render_navigation(:expand_all => true, :level => 2..3) %>
        </div>
        <div class="section section-subpage">
          <%= yield %>
        </div>
      <% end %>

      <div class="footer">
        ©2013 Festival-Concours de Musique de Sherbrooke  |  Développé par <a href="http://www.inovitex.com/">Inovitex</a>.
      </div>

    </div>

  <% else %>

    <% content_for(:head) do %>
      <%= stylesheet_link_tag 'devise/devise' %>
    <%end%>

    <div class="devise-page">
      <div class="devise-left"></div>
      <div class="devise-right">
        <%= yield %>
      </div>
    </div>

  <% end %>

</body>
</html>
